// Darkmode
$background-image: url(../public/images/astronaut.jpeg);

// Dark
$color-primary: #2f4553;
$color-secondary: #1d170f;
$color-tertiary: #ffd486;
$color-text-primary: #c1ccd0;
$color-text-secondary: #618bae;

// Light
// $color-primary: #d6e4e9;
// $color-secondary: #fff8ed;
// $color-tertiary: #d48600;
// $color-text-primary: #343a3e;
// $color-text-secondary: #212f38;

// Original - Dark
// $color-primary: #2c4b4b;
// $color-secondary: #131e1e;
// $color-tertiary: #ffd486;
// $color-text-primary: #95b7b7;
// $color-text-secondary: #95b7b770;

//lightmode
$font-audiowide: "Audiowide", cursive;

// mixin Desktop
@mixin desktop {
  @media (min-width: 960px) {
    @content;
  }
}
