// Darkmode
$background-image: url(../public/images/astronaut.jpeg);

// Dark
$color-primary: hsl(203, 30%, 30%);
$color-secondary: hsl(34, 30%, 10%);
$color-tertiary: hsl(39, 100%, 75%);
$color-text-primary: hsl(190, 30%, 85%);
$color-text-secondary: hsl(210, 30%, 60%);

// Light
// $color-primary: hsl(203, 5%, 70%);
// $color-secondary: hsl(34, 5%, 80%);
// $color-tertiary: hsl(39, 20%, 20%);
// $color-text-primary: hsl(190, 30%, 20%);
// $color-text-secondary: hsl(210, 30%, 40%);

//lightmode
$font-audiowide: "Audiowide", cursive;

// mixin Desktop
@mixin desktop {
  @media (min-width: 960px) {
    @content;
  }
}
