@import "variables";

.navEmptySpace {
  height: 7vh;
  width: 100vw;

  @include desktop {
    height: 8vh;
  }
}

.contact__main {
  width: 100vw;
  z-index: -2;
}

.contact__titleCtr {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;

  & h1 {
    font-family: $font-audiowide;
  }
}

// Form
.form {
  font-family: $font-audiowide;
  width: 80%;
  height: 80%;
  margin: 40px auto;

  @include desktop {
    width: 40%;
  }

  & div {
    width: 100%;
    padding-bottom: 20px;
  }

  & input,
  & textarea {
    padding-left: 5px;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 1.4rem;
  }

  // & input {
  //   &:-webkit-autofill,
  //   &:-webkit-autofill:hover,
  //   &:-webkit-autofill:focus,
  //   &:-webkit-autofill:active {
  //     -webkit-box-shadow: 0 0 0 30px $color-primary inset !important;
  //     -webkit-text-fill-color: $color-tertiary !important;
  //   }
  // }
}

.btnCtr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    padding: 8px 16px;
    border-radius: 0.2rem;
  }
}

.thankYouCtr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: auto;
  padding-top: 100px;

  & h1 {
    font-size: 5rem;
    color: $color-tertiary;
  }

  & h3 {
    color: $color-text-primary;
  }
}
