@import "variables";

.menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 99;
  height: 110vh;
  width: 100vw;
  overflow: hidden;
  z-index: 990;
}

.menuHide {
  display: none;
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & li {
    text-decoration: none;
    padding: 40px;
    font-size: 2rem;
  }
}

.activePage {
}

.inactivePage {
}

.menu__darkmode {
  position: absolute;
  top: 80px;
  right: 25px;
}
