@import "variables";

.nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  width: 100vw;
  z-index: 999;
  // background: linear-gradient(#131e1e, #131e1e00);
  border-bottom: solid 0.5px $color-tertiary;
  background-color: $color-secondary;

  @include desktop {
    height: 8vh;
  }
}

.nameLogoCtr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.name {
  font-family: $font-audiowide;
  padding: 0 10px;
  font-size: 1.1rem;
  color: $color-text-secondary;
  transition: 0.7s;
  cursor: pointer;
  letter-spacing: 0rem;

  &:hover {
    color: $color-tertiary;
    font-size: 1.5rem;
  }
}

.nameR {
  font-family: $font-audiowide;
  font-size: 1.5rem;
  color: $color-tertiary;
}

.hamburgerCtr {
  @include desktop {
    display: none;
  }
}

.list {
  display: none;

  @include desktop {
    display: flex;
    color: $color-text-secondary;
    list-style: none;
    padding: 30px;

    & li {
      cursor: pointer;
      margin: 0 30px;
      padding: 0 10px;
      font-size: 1.5rem;
      transition: 0.4s;
      border-bottom: #95b7b700 solid 1px;

      &:hover {
        color: $color-tertiary;
        border-bottom: $color-tertiary solid 1px;
      }
    }
  }
}

.activePage {
  color: $color-tertiary;
  border-bottom: $color-tertiary solid 1px;
}

.inactivePage {
}
